<launch>
    <remap from="/hardware/mobile_base/odometry" to="/navigation/base_pose_ground_truth"/>
    <remap from="/navigation/amcl_pose" to="/navigation/current_pose"/>
    <param name="robot_description" command="cat $(find configuration_files)/urdfs/robot2.xml" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="gmapping_link_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 30"/>
    <group ns="hardware">
           <node name="mobile_base" pkg="mobile_base" type="mobile_base_node.py" output="screen" args="--simul"/>
           <node name="joy" pkg="joy" type="joy_node" output="screen"/>
           <node name="laser_simul" pkg="laser_simulator" type="laser_simulator_node" output="screen"/>
    </group>
	<group ns="hri">
	       <node name="rviz" pkg="rviz" type="rviz" 
		args="-d $(find configuration_files)/rviz_configuration/simulation_config.rviz"/>
           <node name="justina_gui" pkg="justina_simple_gui" type="justina_simple_gui_node"/>
	</group>
	<group ns="operation">
	       <node name="joystick_operation" pkg="joystick_operation" type="joystick_operation_node.py" output="screen" />
	</group>
    <group ns="navigation">
           <node name="map_server" pkg="map_server" type="map_server" output="screen" 
                 args="$(find configuration_files)/occupancy_grids/biorobotics_lab.yaml"/>
	   <node name="location_markers" pkg="location_markers" type="location_markers_node" output="screen" />
	   <node name="fake_localization" pkg="fake_localization" type="fake_localization"/> 
    </group>
</launch>
